// font
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap");

// variables
$primary: #2e95c9;
$secondary: #00355a;

// globals
body {
  font-family: "Mulish", sans-serif;
}

img {
  width: 100%;
}

.btn {
  letter-spacing: 0.1rem;
}

// navbar
.navbar {
  box-shadow: 0.1rem 0.1rem 0.5rem $primary;

  .navbar-brand {
    width: 15rem;

    @media (max-width: 768px) {
      width: 10rem;
    }
  }

  .dropdown-item:hover {
    background-color: $primary;
  }
}

// hero

@import "../node_modules/bootstrap/scss/bootstrap.scss";
