// font
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap");

// variables
$primary: #2e95c9;
$secondary: #00355a;

// globals
body {
  font-family: "Mulish", sans-serif;
}

img {
  width: 100%;
}

.btn {
  letter-spacing: 0.1rem;
}

// navbar
.navbar {
  box-shadow: 0.1rem 0.1rem 0.5rem $primary;
  font-size: 1.2rem;

  .navbar-brand {
    width: 15rem;

    @media (max-width: 768px) {
      width: 10rem;
    }
  }

  .navbar-toggler-icon {
    font-size: 1.5rem;
  }

  .btn:hover {
    color: #fff;
  }

  .dropdown-item:hover {
    background-color: $primary;
  }
}

// hero
.hero {
  margin-top: 5rem;
}

// sections
.section {
  padding: 5rem 0;

  p {
    font-size: 1.6rem;
  }

  .btn:hover {
    color: #fff;
  }

  .info {
    @media (max-width: 992px) {
      order: -1;
    }
  }
}

// developers
.developers {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/bg.jpg") center center/cover no-repeat fixed;

  img {
    width: 3rem;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
      border-bottom: 0.1rem solid $primary;
    }
  }

  .content-border {
    border-left: 0.1rem solid $primary;

    @media (max-width: 576px) {
      border-left: none;
    }
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
